doctype html
html
  head
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css')
    link(rel='stylesheet', href='app.css')
  body
    section.App-container#App-container
      header.Header
        nav.Header-menu.nav-wrapper
          a(href="/classiccars.nyc/").Header-title.brand-logo Classiccars
          a.button-collapse(data-activates='mobile-demo')
            i.material-icons menu
          ul.right.hide-on-med-and-down
            li
              a(href='/classiccars.nyc/') Home
            li
              a(href='/classiccars.nyc/about') About us
            li
              a(href='/classiccars.nyc/talk') Talk to us
          ul#mobile-demo.side-nav
            li
              a(href='/classiccars.nyc/') Home
            li
              a(href='/classiccars.nyc/about') About us
            li
              a(href='/classiccars.nyc/talk') Talk to us
      section.Main
        div.container
          div.Main-container#Main-container.center-align
          footer.Footer
            span.Footer-text CLASSICCARS.NYC  © All rights reserved.
        div.Main-layer
        div.Main-layerBody
    script(type='text/javascript').
      var map;
      function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 40.758284, lng: -73.9679739},
      zoom: 15
      });
      var marker = new google.maps.Marker({
      map: map,
      position: {lat: 40.758284, lng: -73.9679739},
      title: 'Hello World!'
      });
      }
    script(src='https://code.jquery.com/jquery-3.0.0.min.js'   integrity='sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0='   crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
    script(type="text/javascript").
      $('.button-collapse').sideNav()
    script(type='application/javascript', src='app.js')
